<!DOCTYPE html>
<html>

<head></head>

<body>
    <h3>Results verification Page Carlos Lopez</h3>
    <!-- <p>Thank you <%= data.firstName %> <%= data.lastName %> </p>
    <p>We've recieved your information as follows:</p>
    <ul>
        <li>Your Email: <%= data.Email %></li>
        <li><%= data.Password %> </li>
        <li><%= data.Telephone %> </li>
        <li> <%= data.Address %></li>
        <li> <%= data.Comment %></li>
    </ul> -->
</body>

</html>