<!DOCTYPE html>
<html lang="en">
<head>
    <title>Results verification page Jonathan Julian Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href= "/stylesheets/jjform.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body class = "unique">
    <div class = "container-full">
        <h1>Confirmation</h1>
        <div class = "row">
            <div class="col-md-6 form contact">
                Name: <%= data.firstName%> <%= data.lastName%>
            </div>  
            <div class="col-md-6 form col-offset-md-6">
                    Education Level: <%= data.education%>
            </div>
        </div>

        <div class = "row">
                <div class="col-md-6 form contact">
                        Email: <%= data.email%>
                </div>  
                <div class="col-md-6 form col-offset-md-6">
                        Income: <%= data.income%>
                </div>
            </div>

            <div class = "row">
                    <div class="col-md-6 form contact">
                            Phone: <%= data.phone%>
                    </div>  
                    <div class="col-md-6 form col-offset-md-6">
                            Address: <%= data.address%>, <%= data.zipCode%>
                    </div>
                </div>

    </div><!--container div-->
</body>

</html>