<!DOCTYPE html>
<html>
  <head>
    <%- include ../views/partials/head.ejs%>

    <script src="https://unpkg.com/blob-util/dist/blob-util.min.js"></script>

    <!-- <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhW3fD9MZfY_lCzOvgla3S1aIi4PpuQyQ&callback=initMap"
    ></script> -->
    <link
      href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <header>
    <% include ../views/partials/header.ejs%>
  </header>
  <body>
    <!-- STANDARD IS COL-LG-12 -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- INCIDENTS TEXT START-->
          <div class="row">
            <div class="col-lg-7">
              <h3 style="text-align: center">Incidents</h3>
            </div>
          </div>
          <!-- INCIDENT TEXT END -->
          <!-- INCIDENTS COL -->
          <div class="row">
            <div class="col-lg-7 rounded">
              <div class="rounded" style="border: 2px solid black">
                <!-- PARENT CATEGORY START -->
                <div class="row" style="margin: 8px">
                  <div class="col-lg-12 rounded">
                    <br />
                    <select class="form-control" id="categoryList">
                      <option selected>Filter by category</option>
                      <option>Date</option>
                      <option>Status</option>
                      <option>Zip</option>
                      <option>Type</option>
                      <option>Location</option>
                    </select>
                    <hr class="m-3" />
                  </div>
                </div>
                <!-- PARENT CATEGORY END -->
                <!-- CHILD CATEGORY START -->
                <div class="row" style="margin: 8px">
                  <div
                    class="col-lg-12 rounded"
                    style="display: none; text-align: center"
                    id="displayDate"
                  >
                    <input
                      type="text"
                      id="datepicker"
                      class=" form-group form-control"
                      placeholder="Choose Date"
                    />
                  </div>
                </div>
                <!-- CHILD CATGEGORY END -->
                <!-- CHILD CATEGORY START -->
                <div class="row" style="margin: 8px">
                  <div
                    class="col-lg-12 rounded"
                    style="display: none; text-align: center"
                    id="displayStatus"
                  >
                    <select
                      class="form-control childSelector"
                      id="statusChildList"
                    >
                      <option selected>Choose Status</option>
                      <% for(var i=0; i < data.length; i++) { %>
                      <option class="childSelected"
                        ><%= data[i].STATUS_NAME %></option
                      >
                      <% } %>
                    </select>
                  </div>
                </div>
                <!-- CHILD CATGEGORY END -->
                <!-- CHILD CATEGORY START -->
                <div class="row" style="margin: 8px">
                  <div
                    class="col-lg-12 rounded"
                    style="display: none; text-align: center"
                    id="displayZip"
                  >
                    <select class="form-control" id="zipChildList">
                      <option selected>Choose Zip</option>
                      <% for(var i=0; i < data.length; i++) { %>
                      <option><%= data[i].ZIP_CODE %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
                <!-- CHILD CATGEGORY END -->
                <!-- CHILD CATEGORY START -->
                <div class="row" style="margin: 8px">
                  <div
                    class="col-lg-12 rounded"
                    style="display: none; text-align: center"
                    id="displayType"
                  >
                    <select class="form-control" id="typeChildList">
                      <option selected>Choose Type</option>
                      <% for(var i=0; i < data.length; i++) { %>
                      <option><%= data[i].TYPE_NAME %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
                <!-- CHILD CATGEGORY END -->
                <!-- CHILD CATEGORY START -->
                <div class="row" style="margin: 8px">
                  <div
                    class="col-lg-12 rounded"
                    style="display: none; text-align: center;"
                    id="displayLocation"
                  >
                    <select class="form-control" id="locationChildList">
                      <option selected>Choose Location</option>
                      <% for(var i=0; i < data.length; i++) { %>
                      <option><%= data[i].LOCATION_NAME %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
                <!-- CHILD CATGEGORY END -->
                <div class="col-lg-12">
                  <div class="row rounded">
                    <div class="col-lg-12">
                      <span
                        >Showing 1-<%= data.length %> of <%= data.length %>
                        Incidents</span
                      >
                    </div>
                  </div>
                </div>
                <!-- ONE INCIDENT START-->

                <% for(var i=0; i < data.length; i++) { %>
                <div
                  class="row rounded cardView"
                  style="border: 3px solid green; margin: 8px"
                >
                  <div class="col-lg-4" id="incidentPicture">
                    <br />
                    <img
                      src="data:image/jpg;charset=utf-8;base64,<%= data[i].IMAGE %>"
                      alt="..."
                      class="img-thumbnail  m-1"
                      style="width: max-content; height: inherit"
                    />
                  </div>
                  <div class="col-lg-8">
                    <br />
                    <img src="/resources/baseline-pin_drop-24px.svg" />
                    <span style="text-align: left" class="addy">
                      <%= data[i].LOCATION_NAME %>
                    </span>
                    <span> |</span>
                    <span id="zip"> <%= data[i].ZIP_CODE %></span>
                    <hr class="m-1" />
                    <img src="baseline-today-24px.svg" />
                    <span style="text-align: left" class="parseDate">
                      <%= data[i].REPORTED_DATE_TIME %></span
                    >
                    <hr class="m-1" />
                    <img src="baseline-report-24px.svg" />
                    <span style="text-align: left">
                      <%= data[i].TYPE_NAME %></span
                    >
                    <hr class="m-1" />
                    <img src="baseline-build-24px.svg" />
                    <span style="text-align: left">
                      <b id="status" class="statusCheck"
                        ><%= data[i].STATUS_NAME %></b
                      ></span
                    >
                    <hr class="m-1" />
                    <img src="baseline-comment-24px.svg" />
                    <span style="text-align: left">
                      <%= data[i].DESCRIPTION %>
                    </span>
                    <span style="float: right">
                      <b>ID:<%= data[i].INCIDENT_ID %></b>
                    </span>
                    <br />
                    <br />
                  </div>
                </div>
                <% } %>
                <!-- ONE INCIDENT END -->

                <!-- FILTER EX. START-->
                <div
                  class="row rounded"
                  style="border: 3px solid royalblue; margin: 8px"
                >
                  <div class="col-lg-12">
                    <h2>filter example</h2>
                    <select
                      id="mylist"
                      onchange="myFunction()"
                      class="form-control"
                    >
                      <option selected>Filter by Country</option>
                      <option>Germany</option>
                      <option>UK</option>
                      <option>canada</option>
                    </select>
                    <table id="myTable">
                      <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Germany</td>
                      </tr>
                      <tr>
                        <td>Berglunds snabbkop</td>
                        <td>Sweden</td>
                      </tr>
                      <tr>
                        <td>Island Trading</td>
                        <td>UK</td>
                      </tr>
                      <tr>
                        <td>Koniglich Essen</td>
                        <td>Germany</td>
                      </tr>
                      <tr>
                        <td>Laughing Bacchus Winecellars</td>
                        <td>Canada</td>
                      </tr>
                      <tr>
                        <td>Magazzini Alimentari Riuniti</td>
                        <td>Italy</td>
                      </tr>
                      <tr>
                        <td>North/South</td>
                        <td>UK</td>
                      </tr>
                      <tr>
                        <td>Paris specialites</td>
                        <td>France</td>
                      </tr>
                    </table>

                    <script>
                      function myFunction() {
                        var input, filter, table, tr, td, i;
                        input = document.getElementById("mylist");
                        filter = input.value.toUpperCase();
                        table = document.getElementById("myTable");
                        tr = table.getElementsByTagName("tr");
                        for (i = 0; i < tr.length; i++) {
                          td = tr[i].getElementsByTagName("td")[1];
                          if (td) {
                            if (
                              td.innerHTML.toUpperCase().indexOf(filter) > -1
                            ) {
                              tr[i].style.display = "";
                            } else {
                              tr[i].style.display = "none";
                            }
                          }
                        }
                      }
                    </script>
                  </div>
                </div>
                <!-- FILTER EX. END -->
              </div>
            </div>
            <!-- MAP START-->
            <div
              class="col-lg-5 rounded"
              style="border: 2px solid slategray; height: 800px;  padding: 0"
            >
              <div id="map" style="height: 100%;"></div>
            </div>
            <!-- MAP END-->
          </div>
        </div>
      </div>
    </div>
    <script>
      // MAP JAVASCRIPT START
      function initMap() {
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12
        });
        var geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder, map);
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementsByClassName("addy");
        Array.from(address).forEach(function(item) {
          geocoder.geocode({ address: item.innerText }, function(
            results,
            status
          ) {
            if (status === "OK") {
              resultsMap.setCenter({ lat: 37.723396, lng: -122.442264 });
              var marker = new google.maps.Marker({
                map: resultsMap,
                position: results[0].geometry.location,
                animation: google.maps.Animation.DROP
              });
            } else {
              alert(
                "Geocode was not successful for the following reason: " + status
              );
            }
          });
        });
      }
      // MAP JAVASCRIPT END
      let statusColor = document.getElementsByClassName("statusCheck");
      Array.from(statusColor).forEach(function(item) {
        switch (item.innerHTML) {
          case "Resolved":
            item.style.color = "rgb(47, 197, 17)";
            break;
          case "Reviewed":
            item.style.color = "rgb(244, 247, 64)";
            break;
          case "Received":
            item.style.color = "rgb(64, 137, 247)";
            break;
          case "Archived":
            item.style.color = "rgb(149, 165, 179)";
            break;
        }
      });

      let parseDate = document.getElementsByClassName("parseDate");
      Array.from(parseDate).forEach(function(item) {
        let month = item.innerText.substring(5, 7);
        let day = item.innerText.substring(8, 10);
        let year = item.innerText.substring(0, 4);
        const date = new Date(year, month, day);
        item.innerText = date.toDateString();
      });

      $("#categoryList").change(function() {
        var getText = $("#categoryList option:selected").text();
        switch (getText) {
          case "Date":
            $("#displayStatus").hide();
            $("#displayZip").hide();
            $("#displayType").hide();
            $("#displayLocation").hide();
            $("#displayDate").slideDown("fast", function() {
              $("#datepicker").datepicker({
                onSelect: function() {
                  var dateObject = $(this).datepicker("getDate");
                  alert(dateObject);
                }
              });
            });
            break;
          case "Status":
            $("#displayDate").hide();
            $("#displayZip").hide();
            $("#displayType").hide();
            $("#displayLocation").hide();
            $("#displayStatus").slideDown("fast", function() {
              $("#statusChildList").change(function() {
                var getText = $("#statusChildList option:selected").text();

                checkFilterMatch(getText, 5);
              });
            });
            break;
          case "Zip":
            $("#displayDate").hide();
            $("#displayStatus").hide();
            $("#displayType").hide();
            $("#displayLocation").hide();
            $("#displayZip").slideDown("fast", function() {
              $("#zipChildList").change(function() {
                var getText = $("#zipChildList option:selected").text();
                alert(getText);
              });
            });
            break;
          case "Type":
            $("#displayDate").hide();
            $("#displayStatus").hide();
            $("#displayZip").hide();
            $("#displayLocation").hide();
            $("#displayType").slideDown("fast", function() {
              $("#typeChildList").change(function() {
                var getText = $("#typeChildList option:selected").text();
                alert(getText);
              });
            });
            break;
          case "Location":
            $("#displayType").hide();
            $("#displayDate").hide();
            $("#displayStatus").hide();
            $("#displayZip").hide();
            $("#displayLocation").slideDown("fast", function() {
              $("#locationChildList").change(function() {
                var getText = $("#locationChildList option:selected").text();
                alert(getText);
              });
            });
            break;
          case "Filter by category":
            $("#displayType").hide();
            $("#displayDate").hide();
            $("#displayStatus").hide();
            $("#displayZip").hide();
            $("#displayLocation").hide();
            break;
        }
      });

      function runFilter(index) {
        let dropDownList, cardElements, i;
        let cardView = document.getElementsByClassName("cardView")[index];
        cardView.style.display = "";
      }

      function checkFilterMatch(value, spanIndex) {
        let cardView = document.getElementsByClassName("cardView");

        Array.from(cardView).forEach(function(item) {
          for (let i = 0; i < cardView.length; i) {
            let status = cardView[i].getElementsByTagName("span")[spanIndex];
            // if (status) {
            //   if (status.innerText.toUpperCase().indexOf(i) > -1) {
            //     status.style.display = "";
            //   } else {
            //     status.style.display = "none";
            //   }
            // }
          }
        });
      }
    </script>
    <!-- <div class="container">
      <div class="results">
        <table class="table-dark">
          <thead>
            <tr>
              <th>Incident ID</th>
              <th>Description</th>
              <th>Reported on</th>
              <th>Incident Type</th>
              <th>Status</th>
              <th>Location</th>
              <th>Zip Code</th>
              <th>IMAGE</th>
            </tr>
          </thead>

          <tbody>
            <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td><%= data[i].INCIDENT_ID %></td>
              <td><%= data[i].DESCRIPTION %></td>
              <td><%= data[i].REPORTED_DATE_TIME %></td>
              <td><%= data[i].TYPE_NAME %></td>
              <td><%= data[i].STATUS_NAME %></td>
              <td><%= data[i].LOCATION_NAME %></td>
              <td><%= data[i].ZIP_CODE %></td>
              <td>
                <img
                  class="pic-size2"
                  src="data:image/jpg;charset=utf-8;base64,<%= data[i].IMAGE %>"
                />
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      end results div
    </div> -->
  </body>
</html>
